# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env
.env.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
